patterns/serverless-stream-processor/src/EcsKinesisTaskRunner/statemachine/statemachine.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Generate Unique Identifier",
  "States": {
    "Generate Unique Identifier": {
      "Type": "Pass",
      "Next": "PutObject",
      "Parameters": {
        "UniqueIdentifier.$": "States.UUID()",
        "Input.$": "$"
      }
    },
    "PutObject": {
      "Type": "Task",
      "Next": "ECS RunTask",
      "Parameters": {
        "Body.$": "$.Input",
        "Bucket": "${BUCKET_NAME}",
        "Key.$": "$.UniqueIdentifier"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "ResultPath": null
    },
    "ECS RunTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ecs:runTask.waitForTaskToken",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${CLUSTER_NAME}",
        "TaskDefinition": "${TASK_DEFINITION}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "${SUBNET_1}",
              "${SUBNET_2}"
            ],
            "SecurityGroups": [
              "${SECURITY_GROUP_ID}"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "SampleContainer",
              "Environment": [
                {
                  "Name": "BUCKET_KEY",
                  "Value.$": "$.UniqueIdentifier"
                },
                {
                  "Name": "TASK_TOKEN",
                  "Value.$": "$$.Task.Token"
                }
              ]
            }
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "ProcessingException",
            "States.Timeout"
          ],
          "Next": "SQS SendMessage",
          "ResultPath": null
        }
      ],
      "ResultPath": null,
      "Next": "DeleteObjectOnSuccess",
      "TimeoutSeconds": 300
    },
    "DeleteObjectOnSuccess": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "${BUCKET_NAME}",
        "Key.$": "$.UniqueIdentifier"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "End": true
    },
    "SQS SendMessage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "${QUEUE_URL}"
      },
      "Next": "DeleteObjectOnFailure"
    },
    "DeleteObjectOnFailure": {
      "Type": "Task",
      "Next": "Fail",
      "Parameters": {
        "Bucket": "${BUCKET_NAME}",
        "Key.$": "$.UniqueIdentifier"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}